<html>

<head>
  <title>FCC Advanced Node and Express</title>
  <meta name="description" content="Home page" />
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/public/style.css" />
</head>

<body>
  

  <p id="pug-variable">
    <hr />
    <h2 class="center">Login Form</h2>
    <form class="center" action="/login" method="post">
      <div>
        <label>Username:</label>
        <input type="text" name="username" />
      </div>
      <div>
        <label>Password:</label>
        <input type="password" name="password" />
      </div>
      <div>
        <input type="submit" value="Log In" />
      </div>
    </form>
  </p>
</body>

</html>